hostname P3-Router
!
interface Loopback0
 ip address 13.13.13.13 255.255.255.255
 ip ospf 1 area 0
!   
mpls label range 300 399
mpls ldp router-id Loopback0
!      
interface Ethernet0/0
 description PE2
 ip address 10.255.255.6 255.255.255.252
 ip ospf network point-to-point
 ip ospf 1 area 0
!         
interface Ethernet0/1
 description PE2
 ip address 10.200.200.2 255.255.255.252
 ip ospf network point-to-point
 ip ospf 1 area 0
!         
router ospf 1
 mpls ldp autoconfig
 router-id 13.13.13.13
!         